Python 3:
  script:
  - py_version=3
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
  - export EXTRA_INSTALL="numpy"
  - export REQUIREMENTS_TXT=requirements.dev.txt
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - linux
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Flake8:
  script:
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/prepare-and-run-flake8.sh
  - ". ./prepare-and-run-flake8.sh pudb test"
  tags:
  - python3
  except:
  - tags

Documentation:
  script:
  - EXTRA_INSTALL="numpy mako"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-docs.sh
  - ". ./build-docs.sh"
  tags:
  - python3

Pylint:
  script: |
    export PY_EXE=python3
    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-pylint.sh
    . ./prepare-and-run-pylint.sh "$CI_PROJECT_NAME" test/test_*.py
  tags:
  - python3
  except:
  - tags
