name: Gitlab mirror
on:
    push:
        branches:
        - main

jobs:
    autopush:
        name: Automatic push to gitlab.tiker.net
        if: startsWith(github.repository, 'inducer/')
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   run: |
                curl -L -O https://tiker.net/ci-support-v0
                . ./ci-support-v0
                mirror_github_to_gitlab

            env:
                GITLAB_AUTOPUSH_KEY: ${{ secrets.GITLAB_AUTOPUSH_KEY }}

# vim: sw=4
