name: CI
on:
    push:
        branches:
        - main
    pull_request:
        paths-ignore:
        - 'doc/*.rst'
    schedule:
        - cron:  '17 3 * * 0'

concurrency:
    group: ${{ github.head_ref || github.ref_name }}
    cancel-in-progress: true

jobs:
    ruff:
        name: Ruff
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -   name: "Main Script"
            run: |
                pipx install ruff
                ruff check

    typos:
        name: Typos
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -   uses: crate-ci/typos@master

    basedpyright:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -   uses: actions/setup-python@v6
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                curl -L -O https://tiker.net/ci-support-v0
                . ./ci-support-v0
                build_py_project_in_venv
                pip install basedpyright
                sudo apt update
                sudo apt -y install libopenmpi-dev
                pip install numpy pytest ipython ptpython mpi4py
                basedpyright

    pylint:
        name: Pylint
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -
            uses: actions/setup-python@v6
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-pylint.sh
                . ./prepare-and-run-pylint.sh "$(basename $GITHUB_REPOSITORY)"

    pytest:
        name: Pytest on Py${{ matrix.python-version }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.8", "3.9", "3.x", "pypy3.8"]
        steps:
        -   uses: actions/checkout@v5
        -
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.python-version }}
        -   name: "Main Script"
            run: |
                EXTRA_INSTALL="numpy"
                REQUIREMENTS_TXT=requirements.dev.txt
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
                . ./build-and-test-py-project.sh

    pytest_coverage:
        name: Pytest with Coverage Test
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -
            uses: actions/setup-python@v6
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                EXTRA_INSTALL="numpy"
                REQUIREMENTS_TXT=requirements.dev.txt
                PYTEST_FLAGS="--cov=pudb"
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
                . ./build-and-test-py-project.sh
            env:
                COVERAGE: ${{ secrets.COVERAGE }}

    docs:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v5
        -
            uses: actions/setup-python@v6
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                EXTRA_INSTALL="numpy"
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/ci-support.sh
                . ci-support.sh
                build_py_project_in_venv
                build_docs

# vim: sw=4

